.nav-image{
  height: 5%;
  width: 20%;
  margin-right: auto;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  font-size:25px;
  
  
}
#scroll{
  height: 5%;
  /* width:  5%; */
  position:fixed;
  top: 90%;
  left: 90%;
}

#myBtn{
  padding: 0px;
  margin: 0px;
  /* size: 0px; */
  height: 0px;;
  width: 0px;
  /* display: none; */
}
.data:hover{
  color: rgb(184, 18, 18);
}
li{
  display: inline-block;
  padding: 0px 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: linear-gradient(
    90deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
     */
     /* #D800A6 25%,
     #31E1F7 90%
      */
      /* #44475a 0%,
      #44475a 100% */
      
  /* ); */
  background-color: #282a36;
}
h1 {
  color: #ff79c6;
  font-size: 5rem;
  text-align: center;
  text-decoration: underline;
}
form {
  /* background-color: black; */
  background-color:#282a36;
  width: 50rem;
  height: 135rem;
  opacity: 0.6;
  margin: auto;
  margin-top: 3rem;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem black;
  padding: 1.5rem;
  border: 0.2rem solid white;
}
label {
  font-size: 1.85rem;
  margin: 2rem 1.5rem 2rem 1.5rem;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="file"] {
  width: 40rem;
  height: 2.1rem;
  font-size: 1.5rem;
  margin: 0.8rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.radio {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1.58rem;
  margin-bottom: 1.5rem;
}
button {
  width: 45rem;
  height: 3rem;
  border-radius: 5rem;
  margin: 3rem;
  font-size: 1.85rem;
}
select {
  width: 41rem;
  height: 3rem;
  font-size: 1.5rem;
  margin: 0.8rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
button:hover {
  width: 45rem;
  height: 3rem;
  border-radius: 5rem;
  margin: 3rem;
  font-size: 1.85rem;
  cursor: pointer;
}
div {
  margin-left: 2rem;
}

.tacbox {
  display: block;
  padding: 1em;
  margin: 2em;
  border: 3px solid #ddd;
  /* background-color: #eee; */
  max-width: 800px;
}

#checkbox {
  height: 2em;
  width: 2em;
  /* vertical-align: middle; */
}

#myFile {
  position: relative;
  left: 3%;
}
#upload {
  position: relative;
  left: 4%;
}
#sum {
  position: relative;
  left: 3.4%;
}

.invalid
{
  padding-left: 25px;
  font-size: 20px;
  color:red;
}

.valid{
  color:green;
  padding-left: 25px;
  font-size: 20px;
}

