body{
  background-color:rgb(26, 26, 31);
}

  .item-item:hover{
  color: aqua;
}


.item-item{
  font-size: 25px;
}
.sizeofimage{
  height: 100px;
}
.card{
  background-color: #01016ba6;
}